.footer {
    /* width: 100%; */
    background-color: #00D1B2 !important;
    /* font-size: 3rem; */
    text-align: right;
    margin-bottom: -1.5rem !important;
    /* margin-top: -2rem !important; */
    /* padding: 0.2rem 0; */
    /* box-sizing: border-box; */
    /* text-transform: uppercase; */
}