.header {
    width: 100%;
    background-color: #f02d78;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.form-input {
  width: 50%;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
    text-align: center;
}

textarea {
    width: 50%;
}

.passwordControl {
    text-decoration: none;
    color: black;
    border: 10px;
}